.button {
  width: 400px;
  height: 100px;
  margin: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, .75);
  cursor: pointer;
  transition: all .4s ease-in-out;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-position: 100% 0;
  }
}
